<h2>Login</h2>
<form class='formLogin'>
	<div><input type='text' 	name='username' placeholder="Username" /></div>
	<div><input type='password' name='password' placeholder="Password" /></div>
	<div><input type='submit' name='submit' value='Login' /></div>
</form>